# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

tests/main.link
tests/tests
tests/theft/

examples/bs/bs
examples/ftr/ftr
examples/map/map
examples/strm/strm
examples/tralloc/trace.txt
examples/tralloc/tralloc
examples/vec/cvec
src/mk/mkheader
src/mk/mkmakefile

*.patch
