# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

tests/main.link
tests/tests
tests/theft/

src/bs/bs
src/ftr/ftr
src/map/map
src/mk/mkheader
src/mk/mkmakefile
src/strm/strm
src/tralloc/trace.txt
src/tralloc/tralloc
src/vec/cvec

*.patch
